@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/source-sans-pro/SourceSansPro-Light.otf');
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('../fonts/source-sans-pro/SourceSansPro-Black.otf');
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans/PTSansBold/PTSansBold.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/Lato-Regular.ttf');
}
