a {
  text-decoration: none;
  color: #637f83;
}

.grid {
  width: 100%;
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

[class^='col-'] {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

.col-12 {
  width: 100%;
}

.col-9 {
  width: calc(100% - 100%/4);
}

.col-8 {
  width: calc(100% - 100%/3);
}

.col-7 {
  width: calc(100% - 100%/4 - 100%/6)
}

.col-6 {
  width: calc(100%/2);
}

.col-4 {
  width: calc(100%/3)
}

.col-3 {
  width: calc(100%/4);
}

.col-2 {
  width: calc(100%/6);
}

.col-1 {
  width: calc(100%/12);
}



.btn {
  border: none;
  text-align: center;
  outline: 0;
}

.rounded-button {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: none;
  background-color: #e4551d;
  font: 32px FontAwesome;
  color: #fff;
}



.header {
  padding: 22px 0 24px;
  color: #637f83;
}

.header .logo {
  font: 32px 'SourceSansPro-Black';
}

.header .menu {
  margin: 0;
  padding: 0;
  text-align: right;
  font: 16px 'SourceSansPro-Bold';
  text-transform: uppercase;
  list-style-type: none;
}

.header .menu .item {
  display: inline-block;
  margin: -7px 0 0 47px;
}

.header .menu .item .selected {
  color: #e4551d;
}

.header .menu .item.selected a::before {
  content: "";
  display: table;
  margin: 0 auto;
  font: 16px FontAwesome;
  color: #637f83;
}



.banner {
  height: 520px;
  background: transparent url('../img/banner.png') 0 0 no-repeat;
  background-size: cover;
}

.banner .message {
  margin-top: 107px;
  text-align: center;
  color: #fff;
}

.banner .message .title {
  padding: 0;
  letter-spacing: 3px;
}

.banner .message .title .underline {
  border-bottom: 2px solid #fff;
  font: 40px 'PTSans-Bold';
}

.banner .message .title .underline .line {
  position: relative;
  top: 5px;
  padding: 0;
}

.banner .message .text {
  margin-top: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 16px 'Lato-Regular';
}

.banner .message .text .line {
  margin-bottom: 8px;
}

.banner .button {
  text-align: center;
  padding-top: 30px;
}



.tiles-header .message {
  padding: 40px 0 45px 0;
  text-align: center;
  color: #637f83;
}

.tiles-header .message .title {
  font: 34px 'SourceSansPro-Bold';
}

.tiles-header .message .text {
  font: 24px 'SourceSansPro-Light';
}

.tiles {
  background-color: #f6f6f6;
}

.tiles .item {
  padding: 60px 0;
  margin: 0;
  border: none;
  text-align: center;
  color: #637f83;
}

.tiles .item:not(:last-child) {
  border-right: 1px solid #d5d5d5;
}

.tiles .item .icon {
  font: 66px FontAwesome;
  color: #e4551d;
}

.tiles .item .desc {
  margin: 0 50px 15px;
}

.tiles .item .desc .title {
  font: 22px 'SourceSansPro-Bold';
  text-align: center;
}

.tiles .item .desc .text {
  font: 14px/1.5em 'SourceSansPro-Regular';
}

.tiles .button .small {
  height: 32px;
  width: 70px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #637f83;
  font: 18px 'SourceSansPro-Bold';
  color: #fff;
}



.portfolio {
  text-align: center;
  color: #637f83;
}

.portfolio .message {
  padding: 60px 0 28px;
}

.portfolio .message .title {
  font: 34px 'SourceSansPro-Bold';
}

.portfolio .message .text {
  font: 24px 'SourceSansPro-Light';
}

.portfolio .arrows {
  font: 22px FontAwesome;
  color: #e4551d;
}

.portfolio .arrows .back,
.portfolio .arrows .forward {
  cursor: pointer;
}

.portfolio .images {
  padding: 42px 0 40px;
}

.portfolio .images .item img {
  height: 170px;
  width: 270px;
}

.portfolio .button .large {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #e4551d;
  font-family: 'SourceSansPro-Bold';
  font-size: 18px;
  color: #fff;
}



.feedback {
  padding-top: 110px;
  padding-bottom: 55px;
}

.feedback::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

.feedback .item {
  padding-left: 8px;
}

.feedback .item .photo {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 32px 10px 10px;
}

.feedback .item .message {
  float: left;
  margin: 0;
  width: 69%;
}

.feedback .item .message .title {
  margin: 0 0 2px 0;
  font: 22px 'SourceSansPro-Bold';
  color: #637f83;
}

.feedback .item .message .text {
  font: 14px/1.8 'SourceSansPro-Regular';
  color: #959494;
}

.feedback .item .message .text .more {
  color: #e4551d;
}



.subscribing {
  height: 338px;
  background-color: #637f83;
}

.subscribing .header .message {
  padding-bottom: 42px;
  text-align: center;
  color: white;
}

.subscribing .header .message .title {
  font: 34px 'SourceSansPro-Bold';
}

.subsribing .header .message .text {
  font: 24px 'SourceSansPro-Light';
}

.subscribing .signing-up {
  height: 103px;
  padding: 0 15px 0 20px;
}

.subscribing .signing-up .message {
  margin-bottom: 21px;
  color: white;
}

.subscribing .signing-up .message::before {
  content: '';
  float: left;
  margin-right: 17px;
  font: 40px FontAwesome;
}

.subscribing .signing-up .message .title {
  font: 18px 'SourceSansPro-Bold';
}

.subscribing .signing-up .message .text {
  font: 14px 'SourceSansPro-Regular';
}

.subscribing .signing-up .email-form .input {
  width: 459px;
  height: 40px;
  border: none;
  background-color: #597275;
}

.subscribing .signing-up .email-form .medium {
  float: right;
  height: 43px;
  width: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #597275;
  font: 18px 'SourceSansPro-Bold';
  color: #fff;
}

.subscribing .twitter .message {
  margin: 0 55px 0 15px;
  padding: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #597275;
}

.subscribing .twitter .message::before {
  content: '';
  float: left;
  margin-right: 15px;
  padding-bottom: 20px;
  font: 66px FontAwesome;
  color: white;
}

.subscribing .twitter .message .text {
  font: 14px 'SourceSansPro-Regular';
  color: #b5c7c9;
}

.subscribing .twitter .message .text .link {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}



.social {
  height: 132.6px;
  background-color: white;
}

.social .item {
  position: relative;
  top: 20%;
  padding-left: 18px;
}

.social .item .button {
  position: absolute;
  top: 30%;
}

.social .item .message {
  position: absolute;
  right: 0;
  width: 80%;
  padding-top: 10px;
  left: 104px;
}

.social .item .message .title {
  font: 18px 'SourceSansPro-Bold';
  color: #637f83;
}

.social .item .message .text {
  font: 14px 'SourceSansPro-Regular';
  color: #b5c7c9;
}



.footer {
  height: 91px;
  background-color: #637f83;
}

.footer .copyright {
  text-align: center;
  font: 14px/91px 'SourceSansPro-Regular';
  color: #fff;
}